In [7]:
import pandas as pd

In [13]:
data = [['apple', 'beer', 'rice', 'chicken'],
       ['apple', 'beer', 'rice'],
       ['apple', 'beer'],
       ['apple', 'pear'],
       ['milk', 'beer', 'rice', 'chicken'],
       ['milk', 'beer', 'rice'],
       ['milk', 'beer'],
       ['milk', 'pear']]

#### transaction encoder for creating structured data

In [22]:
# !pip install mlxtend

In [24]:
from mlxtend.preprocessing import TransactionEncoder

In [26]:
te = TransactionEncoder()

In [28]:
df_enc = te.fit_transform(data)

In [30]:
df_enc

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [32]:
te.columns_

['apple', 'beer', 'chicken', 'milk', 'pear', 'rice']

In [36]:
df = pd.DataFrame(df_enc, columns= te.columns_)

In [38]:
df

   apple   beer  chicken   milk   pear   rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

### Generate frequent itemset

In [42]:
from mlxtend.frequent_patterns import apriori

In [44]:
freq_itemsets = apriori(df, min_support= 0.25, use_colnames= True)

In [46]:
freq_itemsets

    support               itemsets
0     0.500                (apple)
1     0.750                 (beer)
2     0.250              (chicken)
3     0.500                 (milk)
4     0.250                 (pear)
5     0.500                 (rice)
6     0.375          (apple, beer)
7     0.250          (rice, apple)
8     0.250        (beer, chicken)
9     0.375           (beer, milk)
10    0.500           (rice, beer)
11    0.250        (rice, chicken)
12    0.250           (rice, milk)
13    0.250    (rice, apple, beer)
14    0.250  (rice, beer, chicken)
15    0.250     (rice, beer, milk)

#### generate the association rules

In [50]:
from mlxtend.frequent_patterns import association_rules

In [52]:
rules = association_rules(freq_itemsets, metric= 'confidence',
                         min_threshold= 0.50)

In [54]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(apple),(beer),0.500,0.750,0.375,0.750000,1.000000,0.0000,1.00,0.000000
1,(beer),(apple),0.750,0.500,0.375,0.500000,1.000000,0.0000,1.00,0.000000
2,(rice),(apple),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
3,(apple),(rice),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
4,(chicken),(beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
5,(beer),(milk),0.750,0.500,0.375,0.500000,1.000000,0.0000,1.00,0.000000
6,(milk),(beer),0.500,0.750,0.375,0.750000,1.000000,0.0000,1.00,0.000000
7,(rice),(beer),0.500,0.750,0.500,1.000000,1.333333,0.1250,inf,0.500000
8,(beer),(rice),0.750,0.500,0.500,0.666667,1.333333,0.1250,1.50,1.000000
9,(rice),(chicken),0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
10,(chicken),(rice),0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
11,(rice),(milk),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
12,(milk),(rice),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
13,"(apple, rice)",(beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
14,"(rice, beer)",(apple),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
15,"(apple, beer)",(rice),0.375,0.500,0.250,0.666667,1.333333,0.0625,1.50,0.400000
16,(rice),"(apple, beer)",0.500,0.375,0.250,0.500000,1.333333,0.0625,1.25,0.500000
17,(apple),"(rice, beer)",0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
18,"(rice, beer)",(chicken),0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
19,"(rice, chicken)",(beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
20,"(beer, chicken)",(rice),0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
21,(rice),"(beer, chicken)",0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
22,(chicken),"(rice, beer)",0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
23,"(rice, beer)",(milk),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
24,"(rice, milk)",(beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
25,"(beer, milk)",(rice),0.375,0.500,0.250,0.666667,1.333333,0.0625,1.50,0.400000
26,(rice),"(beer, milk)",0.500,0.375,0.250,0.500000,1.333333,0.0625,1.25,0.500000
27,(milk),"(rice, beer)",0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000

In [58]:
rules.columns

Index(['antecedents', 'consequents', 'antecedent support',
       'consequent support', 'support', 'confidence', 'lift', 'leverage',
       'conviction', 'zhangs_metric'],
      dtype='object')

In [60]:
rules = rules[['antecedents', 'consequents', 'support', 'confidence']]
rules

        antecedents      consequents  support  confidence
0           (apple)           (beer)    0.375    0.750000
1            (beer)          (apple)    0.375    0.500000
2            (rice)          (apple)    0.250    0.500000
3           (apple)           (rice)    0.250    0.500000
4         (chicken)           (beer)    0.250    1.000000
5            (beer)           (milk)    0.375    0.500000
6            (milk)           (beer)    0.375    0.750000
7            (rice)           (beer)    0.500    1.000000
8            (beer)           (rice)    0.500    0.666667
9            (rice)        (chicken)    0.250    0.500000
10        (chicken)           (rice)    0.250    1.000000
11           (rice)           (milk)    0.250    0.500000
12           (milk)           (rice)    0.250    0.500000
13    (apple, rice)           (beer)    0.250    1.000000
14     (rice, beer)          (apple)    0.250    0.500000
15    (apple, beer)           (rice)    0.250    0.666667
16           (rice)    (apple, beer)    0.250    0.500000
17          (apple)     (rice, beer)    0.250    0.500000
18     (rice, beer)        (chicken)    0.250    0.500000
19  (rice, chicken)           (beer)    0.250    1.000000
20  (beer, chicken)           (rice)    0.250    1.000000
21           (rice)  (beer, chicken)    0.250    0.500000
22        (chicken)     (rice, beer)    0.250    1.000000
23     (rice, beer)           (milk)    0.250    0.500000
24     (rice, milk)           (beer)    0.250    1.000000
25     (beer, milk)           (rice)    0.250    0.666667
26           (rice)     (beer, milk)    0.250    0.500000
27           (milk)     (rice, beer)    0.250    0.500000

### Extract using conditions

In [63]:
rules[rules['confidence'] > 0.5]

        antecedents   consequents  support  confidence
0           (apple)        (beer)    0.375    0.750000
4         (chicken)        (beer)    0.250    1.000000
6            (milk)        (beer)    0.375    0.750000
7            (rice)        (beer)    0.500    1.000000
8            (beer)        (rice)    0.500    0.666667
10        (chicken)        (rice)    0.250    1.000000
13    (apple, rice)        (beer)    0.250    1.000000
15    (apple, beer)        (rice)    0.250    0.666667
19  (rice, chicken)        (beer)    0.250    1.000000
20  (beer, chicken)        (rice)    0.250    1.000000
22        (chicken)  (rice, beer)    0.250    1.000000
24     (rice, milk)        (beer)    0.250    1.000000
25     (beer, milk)        (rice)    0.250    0.666667

In [66]:
rules[(rules['confidence'] > 0.5) & (rules['support'] > 0.25)]

  antecedents consequents  support  confidence
0     (apple)      (beer)    0.375    0.750000
6      (milk)      (beer)    0.375    0.750000
7      (rice)      (beer)    0.500    1.000000
8      (beer)      (rice)    0.500    0.666667

#### Reccomendation

In [69]:
rules[rules['antecedents'] == {'rice'}]

   antecedents      consequents  support  confidence
2       (rice)          (apple)     0.25         0.5
7       (rice)           (beer)     0.50         1.0
9       (rice)        (chicken)     0.25         0.5
11      (rice)           (milk)     0.25         0.5
16      (rice)    (apple, beer)     0.25         0.5
21      (rice)  (beer, chicken)     0.25         0.5
26      (rice)     (beer, milk)     0.25         0.5

#### sort

In [74]:
rules.sort_values(by = 'confidence', ascending= False);

In [76]:
# save the rules

rules.to_csv('rules.csv', index= False)